<html>
<head>
  <%- include('head') %>

  <title> Sing-in </title>
</head>

<body>



<main class="main d-flex justify-content-center align-items-center">

  <div class="side-login ">
    <h1>LOGO</h1>
    <br>
    <h4>This is a simple text.</h4>
  </div>

  <form class="form" action="/sign-up" method="POST" >



    <div class="formTitle">
      <h1 class="signUser mt-2">
        Sign Up <i class="fas fa-user-plus"></i>
      </h1>
    </div>

    <div class="form-group mb-2">
      <label for="username"  class="form-label">Username<span>*</span></label>
      <% if(typeof username !== "undefined") { %>
        <input required value="<%= username %>" type="text" name="username"  class="form-control" id="username">
      <% }else { %>
        <input required type="text" name="username"  class="form-control" id="username">
      <% } %>
      <% if(typeof msg_username !== "undefined") { %>
        <div class="alert alert-danger mt-1"><%= msg_username %></div>
      <% } %>
    </div>

    <div class="form-group mb-2">
      <label for="email"class="form-label">Email<span>*</span></label>
      <% if(typeof email !== "undefined") { %>
        <input required value="<%= email %>" type="email" name="email"  class="form-control" id="email">
      <% }else { %>
        <input required type="email" name="email"  class="form-control" id="email">
      <% } %>
      <% if(typeof msg_email !== "undefined") { %>
        <div class="alert alert-danger mt-1"><%= msg_email %></div>
      <% } %>
    </div>

    <div class="form-group mb-2">
      <label for="password" class="form-label">Password<span>*</span></label>
      <input required type="password" name="password" class=" password form-control" id="password">
      <% if(typeof msg_password !== "undefined") { %>
        <div class="alert alert-danger mt-1"><%= msg_password %></div>
      <% } %>
    </div>

    <div class="form-group mb-2">
      <label for="password" class="form-label">confirm Password<span>*</span></label>
      <input required type="password" name="confirmPassword" class="confirmPassword form-control" id="confirmPassword">
      <% if(typeof msg_password !== "undefined" ) { %>
        <div class="alert alert-danger mt-1"><%= msg_password %></div>
      <% } %>
    </div>

    <div class="form-group d-flex justify-content-center align-items-center mt-2">
      <button type="submit" class="btn-grad px-3">
        Submit
      </button>
      <div class="backHome">
        <span>Or </span> 
        <a href="/"> Back.</a>
      </div>
    </div>
  </form>

</main>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const form = document.querySelector(".form")
    const errmsg = document.querySelector(".errmsg")

  </script>
</body>

</html>